[Unit]
Description=Web App

[Service]
ExecStart= /usr/bin/node /home/ec2-user/webapp/src/app.js
Restart=on-failure
User=ec2user

[Install]
WantedBy=multi-user.target