[Unit]
Description=Web App

[Service]
ExecStart=/usr/bin/startserver.sh
Restart=on-failure
User=ec2user

[Install]
WantedBy=multi-user.target