[Unit]
Description=Web App
After=cloud-final.service

[Service]
ExecStart=/usr/bin/node /home/ec2-user/src/app.js
Restart=on-failure
User=ec2-user

[Install]
WantedBy=cloud-init.target